{% extends 'layout.html' %}
{% block body %}
<h2>{{ ptitle }}</h2>
<div class="form">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <br>
        {{ form.title.label }} {{ form.title }}
        <br>
        {{ form.price.label }} {{ form.price }}
        <br>
        {{ form.publish_date.label }} {{ form.publish_date }}
        <br>
        {{ form.author_id.label }} {{ form.author_id }}
        <br>
        {{ form.submit }}
    </form>
   
</div>
{% endblock body %}